@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="input-group">
    <input type="text" readonly="" class="form-control" placeholder="asdasdasd">
    <span class="input-group-btn input-group-sm">
        <button type="button" class="btn btn-fab btn-fab-mini">
            <i class="material-icons">attach_file</i>
        </button>
    </span>
            <label>asdasdasdasdasd</label>
</div>


